<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Démo</title>
</head>
<body>
    <h1>Démo</h1>
    <nav></nav>
    <main>
        @RenderBody()
    </main>
    <footer>&copy; Cégep Outaouais</footer>
</body>
</html>
